<%# TODO: Créer une partials de card %>
<div class="row">
  <%@user_beasts.each do |beast|%>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to beast_path(beast), class: "text-decoration-none" do %>
        <div class="card m-1" style="height: 600px;">
          <%unless beast.photos.empty?%>
            <% beast.photos.each do |image| %>
              <%= cl_image_tag image.key, class: "card-img-top" %>
            <%end%>
          <%else%>
            <img class="card-img-top" src=<%= beast.image%> alt="Card image cap">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
              <%= beast.name%>
            </h5>
            <p class="card-text"><%= beast.description%></p>
            <% if current_user.id != nil%>
              <%if beast.owner_id == current_user.id%>
                <%= link_to "Supprimer", beast_path(beast), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary button" %>
              <%end%>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
  <%# Create card %>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <%= link_to new_beast_path, class: "text-decoration-none" do %>
      <div class="card m-1" style="height: 600px;">
        <%= image_tag "add-image.png", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">
            Ajouter un monstre
          </h5>
        </div>
      </div>
    <%end%>
  </div>
</div>
