<%= render "shared/dashboard-page-title", title: "Mes réservations" %>
<%if @bookings.empty?%>
  <p>Aucune réservation</p>
<%else%>
  <ul class="list-group">
    <% @bookings.each do |booking|%>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-bold">
            <%=booking.beast.name%>
          </div>
          <p>Du <%=booking.date_start%> au <%=booking.date_end%></p>
          <p><%=calcul =(booking.date_end - booking.date_start).to_i * booking.beast.price_per_day%> €</p>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <%= render "shared/timeline", status: booking.status %>
          <%# indique le status de la reservation %>
          <div class="mt-3">
            <% if booking.status == "created" || booking.status == "modified" %>
              <p>En attente de validation</p>
            <% elsif booking.status == "validated" %>
              <p>En attente de paiement</p>
            <% elsif booking.status == "payed" %>
              <p>Reservation confirmée</p>
            <% elsif booking.status == "canceled" %>
              <p>Reservation annulée</p>
            <% end %>
          </div>
        </div>
        <div class="d-flex">
          <%# si le status est créé ou validé, on peut modifier (pas si c'est payé, modifié ou annulé) %>
          <div class="mx-1">
            <% if booking.status == "created" || booking.status == "validated" %>
              <%= link_to "Modifier", edit_booking_path(booking.id), class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="mx-1">
            <%# Ajouter le path quand la method "pay" et sa route seront créés %>
            <% if booking.status == "validated" %>
              <%= link_to "Payer", booking_pay_path(booking.id), data: {turbo_method: :patch}, class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="mx-1">
            <%# si le status est tout sauf annulé, on voit le bouton annuler %>
            <% unless booking.status == "canceled" %>
              <%= link_to "Annuler", booking_cancel_path(booking.id), data: {turbo_method: :patch}, class: "btn btn-outline-danger"%>
            <%end%>
          </div>
           <div class="mx-1">
          <%# Ajouter le path quand la method "pay" et sa route seront créés %>
          <% if booking.status == "validated" %>
            <%= link_to "Payer", booking_pay_path(booking.id), data: {turbo_method: :patch, turbo_confirm: "Voulez vous payer #{calcul =(booking.date_end - booking.date_start).to_i * booking.beast.price_per_day}€ ??" }, class: "btn btn-primary" %>
          <% end %>
        </div>
        </div>
      </li>
    <%end%>
  </ol>
<%end%>
