<div class="d-flex justify-content-between">
  <div>
    <h1>Tableau de bord</h1>
    <h3>
      <%= current_user.email%>
    </h3>
  </div>
  <div>
    <%if user_signed_in?%>
      <%= link_to "Deconnexion", destroy_user_session_path, class: "btn btn-danger m-3 p-2", data: {turbo_method: :delete, turbo_confirm: "Vous confirmez la déconnexion ?"}%>
    <%end%>
  </div>
</div>
<div>
  <%= link_to "Mes Réservations", bookings_path, class:"btn btn-primary" %>
  <%if @is_owner%>
    <%= link_to "Mes créatures", owner_beasts_path, class:"btn btn-primary"%>
    <%= link_to "Mes créatures en locations", owner_bookings_path, class:"btn btn-primary" %>
  <%end%>
</div>
