<div class="row">
  <% if !@beasts.nil?%>
  <%@beasts.each do |beast|%>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to beast_path(beast), class: "text-decoration-none" do%>
        <div class="card m-1 d-flex flex-column justify-content-between" style="height: 500px;">
          <%unless beast.photos.empty?%>
              <%= image_tag beast.photos[0], class: "card-img-top", style: "height: 200px; object-fit: cover;"%>
          <%else%>
            <img class="card-img-top" style="height: 200px; object-fit: cover;" src=<%= beast.image%> alt="Card image cap">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
              <%= beast.name%>
            </h5>
            <p class="card-text, text-truncate"><%= beast.description%></p>
            <h6 class="card-subtitle mb-2 text-muted">
              <i class="fa-solid fa-tag"></i>
              <%= beast.category%>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <i class="fa-solid fa-gauge"></i>
              <%= beast.speed%> km/h
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <i class="fa-solid fa-sack-dollar"></i>
              <%= beast.price_per_day%> €
            </h6>
          </div>
          <div class="card-footer d-flex justify-content-center">
          <% if !user_signed_in? || (user_signed_in? && beast.owner_id != current_user.id) %>
            <%= link_to beast_path(beast), class: "btn btn-success" do %>
              <i class="fa-solid fa-calendar-plus"></i> Réserver !
            <% end %>
          <% end %>
            <% if user_signed_in? %>
              <%if beast.owner_id == current_user.id %>
                <%= link_to beast_path(beast),
                data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"},
                class:"btn btn-danger" do %>
                  <i class="fa-solid fa-trash"></i> Supprimer
                <% end %>
              <% end %>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
  <%else%>
  <%= "pas de b" %>
  <% end %>
</div>
