<div class="container">
  <% current_user.email if user_signed_in? %>
  <h1> Modifier mon annonce </h1>
  <%= simple_form_for @beast do |f| %>
    <%= f.input :name, label: "Nom"%>
    <%= f.input :description, as: :text%>
    <%= f.input :price_per_day, as: :float, label: "Prix"%>
    <%= f.input :image, as: :file%>
    <%= f.input :category, collection: Beast::CATEGORY, default: Beast::CATEGORY, label: "Catégorie"%>
    <%= f.input :speed, as: :float, label: "Vitesse"%>
    <%= f.submit "Valider mes modifications", class: "btn btn-primary" %>
  <% end %>
</div>
