<%# TODO: Créer une partials de card %>
<div class="row">
  <%@beasts.each do |beast|%>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to beast_path(beast), class: "text-decoration-none" do%>
        <div class="card m-1" style="height: 600px;">
          <%unless beast.photos.empty?%>
            <% beast.photos.each do |image| %>
              <%= cl_image_tag image.key, class: "card-img-top" %>
            <%end%>
          <%else%>
            <img class="card-img-top" src=<%= beast.image%> alt="Card image cap">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
              <%= beast.name%>
            </h5>
            <p class="card-text, text-truncate"><%= beast.description%></p>
            <h6 class="card-subtitle mb-2 text-muted">
            <i class="fa-solid fa-tag"></i>
            <%= beast.category%>
            </h6>

            <h6 class="card-subtitle mb-2 text-muted">
            <i class="fa-solid fa-gauge"></i>
            <%= beast.speed%> km/h
            </h6>

            <h6 class="card-subtitle mb-2 text-muted">
            <i class="fa-solid fa-sack-dollar"></i>
            <%= beast.price_per_day%> €
            </h6>
          </div>
          <div class="card-footer">
          <% if current_user.present?%>
              <%if beast.owner_id == current_user.id%>
                <%= link_to beast_path(beast),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class:"btn btn-danger" do %>
                <i class="fa-solid fa-trash"></i> Supprimer
               <%end%>
              <%end%>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
