<div class="container">
  <% current_user.email if user_signed_in? %>
  <h1>Nouvelle monture</h1>
  <%= simple_form_for @beast do |f| %>
    <%= f.input :name, label: "Nom"%>
    <%= f.input :description, as: :text%>
    <%# Enlever as: :float, remplacer par :text%>
    <%= f.input :price_per_day, as: :float, label: "Prix"%>
    <%= f.input :photos, as: :file, input_html: { multiple: true }%>
    <%= f.input :category, collection: Beast::CATEGORY, default: Beast::CATEGORY, label: "Catégorie"%>
    <%# Enlever as: :float, remplacer par :text%>
    <%= f.input :speed, as: :float, label: "Vitesse"%>
    <%= f.submit "Ajouter ma monture", class: "btn btn-primary" %>
  <% end %>
</div>
