<div class="container">
  <div class="row"> <!-- Utilisation d'une rangée Bootstrap -->
    <div class="col-md-6"> <!-- Colonne pour les images (maintenant à gauche) -->
      <div class="image-gallery">
        <%unless @beast.photos.empty?%>
          <% @beast.photos.each do |image| %>
            <%= cl_image_tag image.key, class: "img-fluid rounded" %>
          <%end%>
        <%else%>
          <%= image_tag @beast.image, class: "img-fluid rounded ", alt: "image de la créature" %>
        <%end%>
        <div class="row thumbnail-gallery">
          <% 3.times do %>
            <%unless @beast.photos.empty?%>
              <div class="col-4">
                <%= image_tag @beast.photos[0], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
            <%else%>
              <div class="col-4">
                <%= image_tag @beast.image, class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
            <%end%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6"> <!-- Colonne pour le texte (maintenant à droite) -->
      <h1><%= @beast.name %></h1>

      <h3>
      <i class="fa-solid fa-tag"></i>
      <%= @beast.category %>
      </h3>

      <h5>
      <i class="fa-solid fa-sack-dollar"></i>
      <%= @beast.price_per_day %> €
      </h5>

      <h5>
      <i class="fa-solid fa-gauge"></i>
      <%= @beast.speed %> km/h
      </h5>

     <p><%= @beast.description %></p>
    <div class="mt-3"> <!-- Boutons -->
      <% if @owner %>
        <%= link_to edit_beast_path(@beast), class: "btn btn-primary me-2" do %>
        <i class="fa-solid fa-pen-to-square"></i> Modifier
      <% end %>
      <%= link_to beast_path(@beast),
        data: { turbo_method: :delete, turbo_confirm: "Vous êtes sûr ?" },
        class: "btn btn-danger" do %>
        <i class="fa-solid fa-trash"></i> Supprimer
        <% end %>
      <% else %>
        <%= link_to new_beast_booking_path(@beast), class: "btn btn-success" do %>
        <i class="fa-solid fa-calendar-plus"></i> Réserver cette créature !
        <% end %>
      <% end %>
  </div>
    </div>
  </div>
</div>
