<div class="container">
  <h1><%= @beast.name %></h1>
   <%# <img src="img-fluid" src=<%= @beast.image%> alt="image de la créature"> %>
  <h3><%= @beast.category %></h3>
  <h5><%= @beast.price_per_day %></h5>
  <h5><%= @beast.speed %></h5>
  <p><%= @beast.description %></p>
  <img class="card-thumbnail" src=<%= @beast.image%> alt="carte de la créature">
  <div class="container">
  <br>
  <a class="btn btn-primary" href="/beasts/edit" role="button"></a>
  <%# <a class="btn btn-primary" href="/beasts/delete" role="button">Supprimer mon annonce</a> %>
  <%= link_to "Modifier mon annonce", edit_beast_path(@beast) %>
  <%= link_to "Supprimer", beast_path(@beast), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary button" %></a>
  </div>
</div>
