<div class="container">
  <div class="row"> <!-- Utilisation d'une rangée Bootstrap -->
    <div class="col-md-6 mb-3"> <!-- Colonne pour les images (maintenant à gauche) -->
      <%# Affichage des images %>
      <div class="image-gallery mb-3">
        <%unless @beast.photos.empty?%>
          <%= image_tag @beast.photos[0], class: "img-fluid col-md-12 rounded mb-3", alt: "Image de la créature" %>
        <%else%>
          <%= image_tag @beast.image, class: "img-fluid col-md-12 rounded mb-3", alt: "Image de la créature" %>
        <%end%>
        <%# Affichage des petites images %>
        <div class="row thumbnail-gallery">
          <%# <% 3.times do %>
            <%unless @beast.photos.empty? || @beast.photos.count <= 1 %>
              <%# si il n'y a que deux photo : une seule petite photo %>
              <% if @beast.photos.count <= 2 %>
              <div class="col-4 mb-3">
                <%= image_tag @beast.photos[1], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
              <%# si il n'y a que 3 photos : deux petites photos %>
              <% elsif @beast.photos.count <= 3 %>
              <div class="col-4 mb-3">
                <%= image_tag @beast.photos[1], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
              <div class="col-4 mb-3">
                <%= image_tag @beast.photos[2], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
              <%# s'il y a 4 photos : trois petites photos %>
              <% elsif @beast.photos.count <= 4 %>
              <div class="col-4 mb-3">
                <%= image_tag @beast.photos[1], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
              <div class="col-4 mb-3">
                <%= image_tag @beast.photos[2], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
              <div class="col-4 mb-3">
                <%= image_tag @beast.photos[3], class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              </div>
              <% end %>
              <%# <%else%>
              <%# <div class="col-4 mb-3"> %>
                <%# <%= image_tag @beast.image, class: "img-fluid rounded thumbnail", alt: "Miniature de la créature" %>
              <%# </div> %>
            <%end%>
          <%# <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-6"> <!-- Colonne pour le texte (maintenant à droite) -->
      <h1><%= @beast.name %></h1>

      <h3>
      <i class="fa-solid fa-tag"></i>
      <%= @beast.category %>
      </h3>

      <h5>
      <i class="fa-solid fa-sack-dollar"></i>
      <%= @beast.price_per_day %> €
      </h5>

      <h5>
      <i class="fa-solid fa-gauge"></i>
      <%= @beast.speed %> km/h
      </h5>

     <p><%= @beast.description %></p>
    <div class="mt-3"> <!-- Boutons -->
      <% if @owner %>
        <%= link_to edit_beast_path(@beast), class: "btn btn-primary me-2" do %>
        <i class="fa-solid fa-pen-to-square"></i> Modifier
        <% end %>
        <%= link_to beast_path(@beast),
        data: { turbo_method: :delete, turbo_confirm: "Vous êtes sûr ?" },
        class: "btn btn-danger" do %>
        <i class="fa-solid fa-trash"></i> Supprimer
        <% end %>
      <% end %>
      <%# Affichage conditionnel du formulaire de reservation %>
      <div class = "mt-3">
        <% unless @beast.owner_id == current_user.id %>
          <%= render "bookings/form", beast:@beast, booking:@booking %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
